body{
    margin: 0;
    font-family: Helvetica;
}

h1{
    font-weight: 100; /*Inserting lighter FONT*/
}

#logo{
    height: 80px;
    width: 80px;
}

#container{
    /*First 4 lines will help center and make it responsive*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /*Helps put text underneath image i.e. row by row*/
    flex-direction: column; 

}